.active-edit {
  background-color: rgb(236, 68, 68);
  color: white;
  cursor: pointer;
}

.active-edit:hover {
  background-color: rgb(255, 94, 94);
}

.inactive-edit {
  background-color: lightgrey;
}
