#book-list {
  margin: 0 10px 10px 10px;
  padding: 10px;
  background-color: whitesmoke;
}

table,
th,
td {
  border: 1px solid grey;
}

th {
  padding: 10px;
  font-weight: bold;
  width: 25%;
}

td {
  padding: 5px;
  width: 25%;
}

#displayed-books {
  width: 100%;
}

#book-item p {
  width: 33.3%;
}
