#header {
  margin-bottom: 20px;
}

#header h1 {
  padding: 20px 0 10px 20px;
  font-size: 30px;
  font-weight: 600;
}

#header h1:hover {
  cursor: pointer;
}

#header p {
  padding: 5px 0 5px 50px;
  font-style: italic;
}
